{{ define "header" }}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="InvesTool,投资工具,财报分析,股票基本面分析,基本面选股,基金检测,基金筛选,4433法则,飙股在线等" />
        <meta name="description" content="InvesTool是一个用于股票基金投资分析的辅助工具网站，主要提供公司财报分析，股票基本面分析，基本面选股，基金经理排行榜，基金4433法则筛选，基金排行榜等功能。" />
        <meta name="author" content="axiaoxin" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1, shrink-to-fit=no" />

        <link rel="shortcut icon" href="{{ .HostURL }}/statics/favicon.ico">
        <link href="{{ .HostURL }}/statics/css/icon.css" rel="stylesheet">
        <link href="{{ .HostURL }}/statics/css/materialize.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ .HostURL }}/statics/css/app.css" />
        <title>{{ .PageTitle }}</title>
    </head>


    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ .HostURL }}/" class="brand-logo"><i class="material-icons">local_atm</i>InvesTool</a>
                    <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li id="nav-stock"><a href="{{ .HostURL }}/stock"><i class="material-icons left">trending_up</i><strong>股票</strong></a></li>
                        <li id="nav-fund"><a href="{{ .HostURL }}/fund"><i class="material-icons left">timeline</i><strong>基金</strong></a></li>
                        <li id="nav-about"><a href="{{ .HostURL }}/about"><i class="material-icons left">info_outline</i><strong>关于</strong></a></li>
                        <li id="nav-comment"><a href="{{ .HostURL }}/comment"><i class="material-icons left">chat_bubble_outline</i><strong>留言</strong></a></li>
                        <li id="nav-materials"><a href="{{ .HostURL }}/materials"><i class="material-icons left">book</i><strong>资料</strong></a></li>
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-sidenav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="{{ .HostURL }}/statics/img/sidenav_bg.png">
                        </div>
                        <a href="#!"><img class="circle" src="{{ .HostURL }}/statics/img/sidenav_icon.png"></a>
                        <a href="#!"><span class="white-text">InvesTool v{{ .Version }}</span></a>
                    </div>
                </li>
                <li><a class="collapsible-header waves-effect waves-red" href="{{ .HostURL }}/stock"><i class="material-icons left">trending_up</i>股票</a></li>
                <li><div class="divider"></div></li>
                <li><a class="collapsible-header waves-effect waves-red" href="{{ .HostURL }}/fund"><i class="material-icons left">timeline</i>基金</a></li>
                <li><div class="divider"></div></li>
                <li><a class="collapsible-header waves-effect waves-red" href="{{ .HostURL }}/about"><i class="material-icons left">info_outline</i>关于</a></li>
                <li><div class="divider"></div></li>
                <li><a class="collapsible-header waves-effect waves-red" href="{{ .HostURL }}/comment"><i class="material-icons left">chat_bubble_outline</i>留言</a></li>
                <li><div class="divider"></div></li>
                <li><a class="collapsible-header waves-effect waves-red" href="{{ .HostURL }}/materials"><i class="material-icons left">book</i>资料</a></li>
            </ul>

            <div id="fixed-action-btn" class="fixed-action-btn" style="bottom: 74px; right: 24px;">
                <a id="tap-target-btn" class="btn btn-floating btn-large red lighten-2">
                    <i class="large material-icons">bookmark_border</i>
                </a>
                <ul>
                    <li><a class="btn-floating red tooltipped pulse" data-position="left" data-tooltip="股票" href="{{ .HostURL }}/stock"><i class="material-icons">trending_up</i></a></li>
                    <li><a class="btn-floating orange tooltipped pulse" data-position="left" data-tooltip="基金" href="{{ .HostURL }}/fund"><i class="material-icons">timeline</i></a></li>
                    <li><a class="btn-floating blue tooltipped pulse" data-position="left" data-tooltip="关于" href="{{ .HostURL }}/about"><i class="material-icons">info_outline</i></a></li>
                    <li><a class="btn-floating purple tooltipped pulse" data-position="left" data-tooltip="留言" href="{{ .HostURL }}/comment"><i class="material-icons">chat_bubble_outline</i></a></li>
                    <li><a class="btn-floating brown tooltipped pulse" data-position="left" data-tooltip="资料" href="{{ .HostURL }}/materials"><i class="material-icons">book</i></a></li>
                    <li><a id="to-top" class="btn-floating green tooltipped pulse" data-position="left" data-tooltip="返回顶部"><i class="material-icons">publish</i></a></li>
                </ul>
            </div>
        </header>

        <main class="container">
            {{ if .Error }}
            <div class="row">
                <div class="chip flow-text orange lighten-1 col s12 center-align">
                    {{ .Error }}
                    <i class="close material-icons">close</i>
                </div>
            </div>
            {{ end }}

            <div class="row">
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3022214826355647"
                     data-ad-slot="8885499138"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            {{ end }}

            {{ define "footer" }}
        </main>

        <script src="{{ .HostURL }}/statics/js/jquery.js"></script>
        <script src="{{ .HostURL }}/statics/js/materialize.min.js"></script>
        <script src="{{ .HostURL }}/statics/js/tableexport.min.js"></script>
        <script src="{{ .HostURL }}/statics/js/clipboard.min.js"></script>
        <script src="{{ .HostURL }}/statics/js/echarts.min.js"></script>

        <script type="text/javascript" src="{{ .HostURL }}/statics/js/app.js" ></script>

    </body>
</html>
{{ end }}
